@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --text-color: #2c2c2c;
    --user-header-height: 96px;
}
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}
