.container {
    width: 100%;
    margin: 0 auto;
}

.remain {
    width: 100%;
    position: relative;
    margin-top: var(--user-header-height);
    padding-top: 8px;
    background-color: #fff;
    overflow-y: auto;
}

/* Thẻ div bao trọn cả form, main-content và sidebar */
.main-container {
    width: 950px; /* Đảm bảo kích thước đúng */
    margin: 0px auto;
}

.footer {
    width: 100%;
    height: 745.4px;
    border: 1px solid black;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
